.navbar {
    width: 80%;
    margin: 1rem auto;
    border: 1px solid #f7f7f7;

    li {
        list-style: none;
        padding: 1rem;
    }

    .navbar-logo {
        color: #123456;
        font-size: 2rem;
        font-weight: 900;
    }
}